.toast {
    width: auto;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.toast .header {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    padding: 0.7rem;
}

.toast .body {
    border: 1px solid #ddd;
    padding: 0.7rem;
}