.footer {
    position: relative;
}

.up-arrow-link {
    position: absolute;
    top: -30px;
    left: 41%;
    background: #fff;
    color: #000;
    font-size: 25px;
    padding: 10px 15px !important;
  }
  
  .up-arrow-link:hover {
      background-color: transparent;
      color: #fff;
  }

  @media (min-width: 767px) {
      .up-arrow-link {
          left: 47%;
      }
  }